@import "tailwindcss";

:root {
  --secondary: #f7beb6;
  --background: #151412;
  --foreground: #ededed;
  /*
  --background: #ffffff;
  --foreground: #171717;
  */
}

@theme inline {
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}